<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{../styles/estilos.css}">
</head>

<body>

    <h1>Escribe dos fechas para filtrar</h1>
    <form th:object="${impuestos}" action="/controladorImpuestos/findByFecha" method="POST">

        <label for="fechaInicial">Fecha Inicial:</label>
        <input type="date" name="fecha1">
        <label for="fechaFinal">Fecha Final:</label>
        <input type="date" name="fecha2">
        <input type="submit" name="enviar">
    </form>
</body>

</html>