<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h1>Elige dos fechas para filtrar los impuestos</h1>
	<form th:object="${fecha}" action="/controladorImpuestos/findByFecha"
		method="POST">
		<p>
			fecha 1: <input type="date" th:field="*{fecha}" />
		</p>
		<p>
			fecha 2: <input type="date" th:field="*{fecha}" required />
		</p>

		<p>
			<input type="submit" value="Insertar" />
		</p>
	</form>
</body>
</html>