<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
</head>
<body>
	<h1>Impuestos Y Empresas</h1>
	<ul id="button">
		<li><a href="/controladorEmpresas/listaEmpresas"> Empresas </a></li>
		<li><a href="/controladorImpuestos/listaImpuestos"> Ver todos los impuestos </a></li>
		<li><a href="/controladorImpuestos/formFechas">Buscar impuestos</a></li>
	</ul>


</body>
</html>