<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<h1>Alumnos</h1>
	<table>
		<tr>
			<th>Nombre</th>
			<th>Acción</th>
		</tr>
		<tr th:each="alumno: ${listaAlumno}">
			<td th:text="${alumno.nombre}" />
			<td><a th:href="@{eliminaAlumno(idalumno=${alumno.idalumno})}">
					Eliminar </a> <a
				th:href="@{modificaAlumno(idalumno=${alumno.idalumno})}">
					Modificar </a> <a
				th:href="@{verMatricula(idalumno=${alumno.idalumno})}"> Ver
					Cursos </a></td>
		</tr>
	</table>
	<a th:href="@{/alumno/formInsertaAlumno}"> Inserta alumno </a>
	<p>
		<a th:href="@{/index}"> Volver </a>
</body>
</html>