<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Empresas</h1>
	<table>
		<tr>
			<th>Nombre</th>
			<th>Acción</th>
		</tr>
		<tr th:each="empresa: ${listaEmpresas}">
			<td th:text="${empresa.denominacion}" />
			<td><a
				th:href="@{eliminarEmpresa(idempresa=${empresa.idempresa})}">
					Eliminar </a>
	</table>
	<a th:href="@{/controladorEmpresas/insertarEmpresa}"> Insertar
		Empresa </a>
	<p>
		<a href="/index"> Volver </a>
</body>
</html>